# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\hooga\Desktop\UW\COURSE\EE568\Final Project\Final_Project_SHENGHAO_CHEN_03122021\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
